@import url("partials/import.css");
@import url("partials/fonts.css");
/* default */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #414141;
}
a {
  color: #f0f0f0;
  text-decoration: none;
}
a:hover {
  color: #000;
}
.main,
.container > header {
  width: 95%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em;
}
.container > header {
  padding: 2.875em 1.875em 1.875em;
}
.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0;
  float: left;
  font-weight: 400;
}
.container > header span {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}
.container > header nav {
  float: right;
}
.container > header nav a {
  display: block;
  float: left;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin: 0 0.1em;
  border: 4px solid #47a3da;
  text-indent: -8000px;
}
.container > header nav a:after {
  content: attr(data-info);
  color: #47a3da;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  opacity: 0;
  pointer-events: none;
}
.container > header nav a:hover:after {
  opacity: 1;
}
.container > header nav a:hover {
  background: #47a3da;
}
.icon-drop:before,
.icon-arrow-left:before {
  font-family: 'fontawesome', sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
}
.container > header nav a:hover:before {
  color: #fff;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.icon-drop:before {
  content: "\e000";
}
.icon-arrow-left:before {
  content: "\f060";
}
.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #e1e1e1;
  left: 22%;
  margin-left: -22px;
}
/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
  top: 42px;
}
.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 2.0em;
  color: #414141;
}
/* Right content */
.cbp_tmtimeline > li {
  position: relative;
}
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  color: #414141;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(65, 65, 65, 0.4);
}
.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(65, 65, 65, 0.4);
}
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  display: none;
  right: 100%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 10px solid transparent;
  border-right-color: #d2d2d2;
  top: 10px;
}
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 10px solid transparent;
  border-left-color: #d2d2d2;
  left: 22%;
  top: 52px;
  margin: 0 0 0 -12px;
}
/* Media Queries */
@media screen and (max-width: 65.375em) {
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.7em;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    top: 44px;
  }
}
@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
    top: 0;
  }
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    display: block;
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: rgba(65, 65, 65, 0.8);
    top: -20px;
  }
  .cbp_tmtimeline > li .cbp_tmicon {
    display: none;
  }
}
